DJANGO_SECRET_KEY=replace_with_a_long_random_string
DJANGO_DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

POSTGRES_DB=catalyst_db
POSTGRES_USER=catalyst_user
DB_PASSWORD=choose_a_strong_password_here
DB_HOST=127.0.0.1
DB_PORT=5432
